// SCSS document
// Powered by Denis FOX | dfox@foxartbox.com

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,600;1,700&family=Roboto:wght@400;500&display=swap');

// colors
$c_border:          #e1e7ed;
$c_content_bg:      #112948;
$c_highlight:       #00b1ff;
$c_input_bg:        #f5f7f9;
$c_link:            #6f8caa;
$c_primary:         #1e3554;
$c_title:           #1a3150;

// @medias
$desktop:           'only screen and (min-width: 600px)';

$transition:        all .3s ease-in-out;

$i:                 '/src/assets/i';
$icons:             $i + '/icons';

$font_main:         'Montserrat',       Arial, Helvetica, sans-serif;
$font_montserrat:   'Montserrat',       Arial, Helvetica, sans-serif;
$font_roboto:       'Roboto',           Arial, Helvetica, sans-serif;
