* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	&::after,
	&::before {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
}

body {
	background-color: #45db8f;
	color: #000;
	font-family: $font_main;
	font-size: 16px;
	margin: 0 auto;
	min-height: 600px;
}

button {
	background: none;
	border: 0 none;
}

h2 {
	color: $c_title;
	font-family: $font_montserrat;
	font-size: 14px;
	font-style: italic;
	font-weight: 700;
	line-height: 1.2;
	padding: 0 0 15px;
	text-transform: uppercase;
}

img {
	max-width: 100%;
}

.btn {
	cursor: pointer;
	display: inline-block;
	position: relative;

	&--back {
		height: 16px;
		width: 9px;

		&::after {
			background-size: contain;
			background: url(#{$icons}/arrow-left.svg) 0 0 no-repeat scroll transparent;
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 3;
		}

		&::before {
			background-color: $c_highlight;
			border-radius: 50%;
			content: "";
			height: 0;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
			transition: $transition;
			width: 0;
			z-index: 1;
		}

		&:hover {
			&::before {
				height: 30px;
				width: 30px;
			}
		}
	}
}

.logo {
	display: inline-block;
	height: 18px;
	margin: -2px 0 0 10px;
	width: 33px;

	&__img {
		object-fit: contain;
		height: 100%;
		width: 100%;
	}
}

.notification {
	align-items: center;
	background: url(#{$icons}/notification.svg) 0 0 no-repeat scroll transparent;
	background-size: contain;
	display: flex;
	font-size: 10px;
	font-style: italic;
	font-weight: 600;
	height: 20px;
	justify-content: center;
	line-height: 1;
	margin: 0 6px 0 0;
	position: relative;
	width: 20px;

	&__number {
		background-color: $c_highlight;
		border-radius: 50%;
		border: 2px solid $c_primary;
		bottom: -8px;
		min-height: 18px;
		min-width: 18px;
		padding: 2px 2px 0;
		position: absolute;
		right: -8px;
		text-align: center;
		z-index: 3;
	}
}

.user-info {
	align-items: center;
	background-color: $c_content_bg;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 38px 0 31px;
	text-align: center;

	&__img {
		display: block;
		margin: 0 auto 5px;
	}

	&__level {
		background-color: rgba(#fff, .05);
		border-radius: 30px;
		font-size: 10px;
		line-height: 1;
		padding: 3px 8px;
	}
}

.wrapper {
	margin: 0 auto;
	max-width: 900px;
	padding: 0 15px;
}
