.header {
	align-items: center;
	background-color: $c_primary;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 18px 15px;

	@media #{$desktop} {
		padding: 30px 25px;
	}
}

.header-left {
	align-items: center;
	display: flex;
}