.my_teams_list {
	color: $c_title;
	font-family: $font_roboto;
	font-size: 14px;
	font-weight: 500;
	list-style: none;
	margin: 10px 0 0;

	&__item {
		align-items: center;
		display: flex;
		justify-content: flex-start;
		padding: 2px 12px;
	}

	&__name {
		margin: 0 0 0 10px;
	}
}