.user-name {
	font-size: 15px;
	font-style: italic;
	font-weight: 700;
	margin: 0 0 0 -24px;

	@media #{$desktop} {
		margin: -20px 0 0 20px;
	}
}

.user-info {
	align-items: center;
	background-color: $c_content_bg;
	color: #fff;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 600px;
	padding: 40px 43px 31px;
	text-align: center;

	&__img {
		display: block;
		margin: 0 0 5px;
	}

	&__level {
		background-color: rgba(#fff, .05);
		border-radius: 30px;
		font-size: 10px;
		line-height: 1;
		padding: 3px 8px;
	}

	&__main {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	@media #{$desktop} {
		justify-content: flex-start;
		border-radius: 8px 8px 0 0;
		margin-top: 16px;
		padding-bottom: 33px;
	}
}